<p id="notice"><%= notice %></p>

<h1>User Addresses</h1>

<table>
  <thead>
    <tr>
      <th>Address line</th>
      <th>Address line 2</th>
      <th>Zip code</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
      <th>User</th>
      <th>Primary</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_addresses.each do |user_address| %>
      <tr>
        <td><%= user_address.address_line %></td>
        <td><%= user_address.address_line_2 %></td>
        <td><%= user_address.zip_code %></td>
        <td><%= user_address.city %></td>
        <td><%= user_address.state %></td>
        <td><%= user_address.country %></td>
        <td><%= user_address.user %></td>
        <td><%= user_address.primary %></td>
        <td><%= link_to 'Show', user_address %></td>
        <td><%= link_to 'Edit', edit_user_address_path(user_address) %></td>
        <td><%= link_to 'Destroy', user_address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Address', new_user_address_path %>
