<p id="notice"><%= notice %></p>

<h1>Customers</h1>

<%= link_to 'New Customer', new_customer_path %>

<br>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address line</th>
      <th>Address line 2</th>
      <th>Zip code</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.address_line %></td>
        <td><%= customer.address_line_2 %></td>
        <td><%= customer.zip_code %></td>
        <td><%= customer.city %></td>
        <td><%= customer.state %></td>
        <td><%= customer.country %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <% if customer.projects.empty? %>
          <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

