<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :project_name %>
  </div>

  <div class="field">
    <%= form.label :customer_id %>
    <%= form.select :customer_id,
                    options_from_collection_for_select(
                        current_user.customers.order(:name).pluck(:id, :name),
                        :first, :last,
                        project.customer.try(:id)
                    ) %>
  </div>

  <div class="field">
    <%= form.label :rate %>
    $ <%= form.number_field :rate, id: :rate, min: 1 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
