<h1>Projects</h1>

<%= link_to 'New Project', new_project_path %>

<br>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Customer</th>
      <th>Rate</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.customer.name %></td>
        <td>$<%= project.rate %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <% if project.activities.empty? %>
          <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
